 <ion-view title="Change Password">
	 <ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			  </ion-nav-buttons>
        <ion-content has-header="true" padding="true">
        
<div class="list">
		
		
		    <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">User ID </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="text"  value={{userChangeID}} readonly >
                  </label>            
				</div>
			  </div>
		  
	
		  
		      <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
								<span class="input-label">Old Password</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="password" ng-model="changePassword.oldPassword"  >
                  </label>            
				</div>
			  </div>
		
		      <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
								<span class="input-label">New Password</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="password" ng-model="changePassword.newPassword"  >
                  </label>            
				</div>
			  </div>
			  
	
		      <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Confirm Password</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="password" ng-model="changePassword.confirmPassword"  >
                  </label>            
				</div>
			  </div>
	
		  
		      <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Pin Expired Days</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="number" ng-model="changePassword.expiredDays"  >
                  </label>            
				</div>
			  </div>
	

			

		 	  <div class="item item-input-inset border-background-for_label-inputfield"> 
				<div class="label-width-first">						
				</div>
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width" >                                 
				<button  class="button button-block button-calm"  style="width:100%" ng-click="submitChangePassword(changePassword)" >
				 Submit
				</button>            
            </div>
			  </div>  

          </div>
        </ion-content>
      </ion-view>
