 <ion-view title="Desco Bill">
	  <ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	
        <ion-content has-header="true" padding="true">
		
		
  <div class="list">
		
			  
			    <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label"> Source A/c</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom item item-input item-select" style="width:100%">
				<select ng-model="fundtransfer.item" ng-change="update(fundtransfer)">
				  <option value="" ng-selected="selected">{{fundtransfer.selectSourceAccount}}</option>
						<option ng-repeat="x in accountListDescription" >{{x.sAccountDescription}}</option>
				</select>
			</label>          
				</div>
			  </div>
			
		  
				  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Account Title </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text"  id="txtFundTransferAccountTitle" value={{descoAccountTitle}} readonly />
                  </label>            
				</div>
			  </div>
			  
			
				  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Balance </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{descoAvailableBalance}}&nbsp;&nbsp;{{descoCurrencyCode1}} readonly>
                  </label>            
				</div>
			  </div>
	
		
	
		  	<div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Bill No </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="text" ng-model="desco.billNo" >
                  </label>  

					<div class="btn-seach_button">
				<a class="button button-outline icon-right ion-search button-balanced btn-seach_button" ng-click="btnSearch(desco)"></a>
				</div>
				</div>
				
			  </div>
		  
				  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Customer Name </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{customerName}} readonly>
                  </label>            
				</div>
			  </div>
			   <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Customer A/c </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{customerAccount}} readonly>
                  </label>            
				</div>
			  </div>
		  
		  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Meter No.</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{meterNo}} readonly>
                  </label>            
				</div>
			  </div>
			  
			  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Month Bill</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{monthBill}} readonly>
                  </label>            
				</div>
			  </div>
			  
			  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Due Date </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{dueDate}} readonly>
                  </label>            
				</div>
			  </div>
			  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Amunt + VAT</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{billAmount}}&nbsp;{{vat}} readonly>
                  </label>            
				</div>
			  </div>
			  
			  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Total Amount</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
                   <input type="text" value={{totalAmount}} readonly>
                  </label>            
				</div>
			  </div>
				
			 
		  	<div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Pin Code </span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="password" ng-model="desco.pineCode" >
                  </label>            
				</div>
			  </div>
						
			
		 
		 	
			  <div class="item item-input-inset button-margin-from-inputfield border-background-for_label-inputfield"> 
				<div class="label-width-first">						
				</div>
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width" >                                 
            <button  class="button button-block button-calm" ng-click="DoSubmitDescoBill(desco)" style="width:100%;">
			 Submit
			</button>                    
            </div>
			  </div>  
		
		</div>
        </ion-content>
      </ion-view>
