  <ion-view title="Registration Form">
	  <ion-content class="padding">
		
           
				<div class="list ">  	
				
		
			  	  <div class="item item-input-inset border-background-for_label-inputfield top-marging-below-actionvbar" >    
			
					<div class="label-width-first">
						<span class="input-label">Full Name</span>		
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                <input type="text" ng-model="reg.fullname" >
                </label>            
            </div>
			  </div>
			  
			  
			  
			    	  <div class="item item-input-inset border-background-for_label-inputfield">    
			
					<div class="label-width-first">
					<span class="input-label">User ID</span>			
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
              <input type="text" ng-model="reg.userid" >
                </label>            
            </div>
			  </div>
			  
			 
			  
			  
			    	  <div class="item item-input-inset border-background-for_label-inputfield">    
			
					<div class="label-width-first">
					<span class="input-label">Customer ID</span>			
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
               <input type="text" ng-model="reg.customerid">
                </label>            
            </div>
			  </div>
			  
			  
			  
				  <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Email</span>	
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                <input type="email" ng-model="reg.email">
                </label>            
            </div>
			  </div>
			  
			  	  <div class="item item-input-inset border-background-for_label-inputfield"> 
					<div class="label-width-first">
						<span class="input-label">Mobile </span>	
					</div>
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width" >
                <label class="item-input-wrapper input-textfield-custom">                  
                <input type="tel" ng-model="reg.mobile">
                </label>            
            </div>
			  </div>  
				
			  <div class="item item-input-inset border-background-for_label-inputfield button-margin-from-inputfield"> 
				<div class="label-width-first">						
				</div>
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width" >                                 
               <button  class="button button-block button-calm" ng-click="DoRegistrationAction(reg)" style="width:100%">
				 Submit
				</button>                        
            </div>
			  </div>  
				
							
				
				</div>
				 
					<div style="margin-top:30%">
					</div>
				
          
		  </ion-content>
	
      </ion-view>
